/* font-family: "Raleway", sans-serif; */
/* font-family: "Open Sans", sans-serif; */
body {
    background-color: aquamarine;

    border: 2px solid red;
    font-size: 14px;
}

.hidden {
    display: none;
}